@import "../../palette//palette.scss";
@import "../../components/boxes.scss";
.feedback-page {
  @include layoutBox();
  @include themify($themes) {
    background-color: themed("bg-tree-menu");
  }
  width: 100%;
  padding: 40px;
  &__header {
    width: 100%;
    text-align: center;
    font-size: 1.6rem;
    @include themify($themes) {
      color: themed("text-color");
    }
    margin-bottom: 20px;
  }
  &__text {
    width: 100%;
    text-align: center;
    font-size: 1rem;
    @include themify($themes) {
      color: themed("text-color");
    }
    opacity: 0.8;
    margin-bottom: 20px;
  }
  &__input-box {
    max-width: 800px;
    margin: auto;
    margin-top: 40px;
    &__btn-save {
      text-align: right;
      margin-top: 20px;
    }
  }
}
