@import "../../../palette/palette.scss";
.profile-change-password {
  &__body {
    padding: 40px 20px 00;
    align-items: center;
    &__info {
      @include themify($themes) {
        color: themed("text-color");
      }
      padding: 0 20px;
      &__header {
        font-size: 1rem;
        font-weight: bold;
        margin-bottom: 1rem;
      }
      &__text {
        font-size: 0.875rem;
        padding: 1rem;
      }
    }
    &__change-pass {
      padding: 0 20px;
      &__label {
        @include themify($themes) {
          color: themed("text-color");
        }
        font-size: 1rem;
      }
      &__textfield {
        margin-top: 10px;
        margin-bottom: 15px;
      }
    }
  }
  &__btn-save {
    width: 50%;
    padding-right: 20px;
    text-align: right;
  }
}
