MQTT_PUBLISHER_HOST=65.109.174.58
MQTT_PUBLISHER_PORT=1883
MQTT_PUBLISHER_TOPIC=iot-inkai-raw
MQTT_PUBLISHER_LAYER=Inkai
MQTT_PUBLISHER_TAG_IDS=
MQTT_PUBLISHER_PUMPS=OPZ|P-2A;OPZ|P-2B;OPZ|P-2C;OPZ|P-3A;OPZ|P-3B;OPZ|P-3C;OPZ|P-85A;OPZ|P-85B;OPZ|P-85C;SAT-1|POS 151/1;SAT-1|POS 151/2;SAT-1|POS 151/3;SAT-1|POS 151/4;SAT-1|POS 161/1;SAT-1|POS 161/2;SAT-1|POS 161/3;SAT-1|POS 161/4;SAT-2|P3-P-101A;SAT-2|P3-P-101B;SAT-2|P3-P-101C;SAT-2|P3-P-111A;SAT-2|P3-P-111B;SAT-2|P3-P-111C
MQTT_PUBLISHER_INTERVAL_SECONDS=5
MQTT_PUBLISHER_BASE_VALUE=320
MQTT_PUBLISHER_JITTER=10
MQTT_PUBLISHER_QOS=0
MQTT_PUBLISHER_USERNAME=
MQTT_PUBLISHER_PASSWORD=
